@use "../../partials/fonts";
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.thes {
  min-height: 100vh;
  // max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $Eggshell;
  font-family: "Poppins", sans-serif;

  &__header {
    text-align: center;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    color: $Terra-Cotta;
    padding: 0.5rem;

    &--link {
      text-decoration: none;
    }
  }

  &__search {
    text-align: center;
    padding: 1rem 0;
  }
}

.displayResults {
  padding: 0px 20px 20px;

  &__word {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    color: $Independence;
  }

  &__synonyms {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    margin: 8px;
  }

  &__link {
    text-decoration: none;
  }

  &__synonym {
    font-size: 1rem;
    color: $Independence;
    list-style: none;
    padding: 4px 8px;
    border: 1px solid $Independence;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    margin: 3px;
    background-color: whitesmoke;
    text-decoration: none;
  }

  &__typeOfSyn {
    font-size: 0.9rem;
    font-style: italic;
    color: $Independence;
    font-weight: bold;
  }

  &__definitions {
    padding: 8px;
  }

  &__header2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    color: #3a86ff;
    padding: 0.5rem;
  }

  // &__typeResults {
  //   padding: 10px 8px;
  // }

  &__typeOf {
    font-size: 1rem;
    font-style: italic;
    color: $Green-Sheen;
    font-weight: bold;
  }

  &__subtitle {
    color: $Green-Sheen;
    padding: 4px 0;
  }

  &__typeDef {
    padding: 0 0 8px;
    margin: 0 2rem;
  }

  &__define-result {
    font-size: 0.9375rem;
    padding: 4px 8px;
  }

  // &__example {
  //   font-size: 0.9375rem;
  //   color: #8d99ae;
  // }
}

// RECOMMENDED WORDS
.otherResults {
  &__notFound {
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 0;
    color: red;
  }

  &__notWordList {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    padding: 10px 20px;
  }

  &__notWord {
    font-size: 1.2rem;
    color: $Independence;
    list-style: none;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
}

// SEARCH FIELD STYLING
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label {
  position: absolute;
  top: -14px;
  left: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 20px 1rem 0;
  height: 60px;
  font-size: 21px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
}
.inp input:focus + .label {
  color: #0077ff;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}
