// Variables

// Colors
$Eggshell: #f4f1de;
$Terra-Cotta: #e07a5f;
$Baby-Blue: #3a86ff;
$Independence: #3d405b;
$Green-Sheen: #81b29a;
$Deep-Champagne: #f2cc8f;
$Crimson-Red: #d90429;
$White-Smoke: whitesmoke;
$Dark-Blue: #014f86;

//Responsive Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;
