// Variables

// Colors
// https://coolors.co/b8d8d8-7a9e9f-4f6367-eef5db-fe5f55

$Eggshell: #f4f1de;
$Terra-Cotta: #e07a5f;
$Independence: #3d405b;
$Green-Sheen: #81b29a;
$Deep-Champagne: #f2cc8f;

//Responsive Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;
