@use "../src/partials/fonts";
@use "../src/partials/mixins" as *;
@use "../src/partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
